.cart-order-summary{
    padding: 0;
    border-radius: 5px;
    box-shadow: 0px 0px 20px #aaa;
}

.cart-order-summary-title{
    border-radius: 5px 5px 0 0;
}

.cart-order-summary-options > div{
    font-family: 'Barlow Condensed', sans-serif;
}

.cart-item-quantity{
    height: 35px;
}

.cart-item-quantity > button{
    border: 1px solid #aaa;
    padding: 4px 8px;
}

.cart-item-quantity > div{
    border: 1px solid #aaa;
    padding: 4px 8px;
    width: 40px;
}

.popoverBtn{
    border: none;
    padding: 1px;
    background: rgb(247, 247, 247);
    border-radius: 40px;
}

.popoverBtn:hover{
    padding: 0;
    background: rgb(226, 226, 226);
    border: 1px solid rgb(209, 209, 209);
}