.home-big-categories{
    height: 500px;
}

.home-big-categories a{
    width: 48.9%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    text-decoration: none;
    border-radius: 10px;
    transition: .4s;
}

.home-big-categories a:hover{
    background-size: 103%;
    opacity: .7;
}